/* STYLE CSS */
html {
  scroll-behavior: smooth!important}
#insertDataForm label{width:99%!important}
#insertDataForm .form-control{display:inline-block;width:85%!important}
#insertDataForm label span{width:14%;display:inline-block;}
input[type=file]{display:inline-block}
.img{text-align:center;max-width:70px}.img img{height:max-content;max-height:70px}
#ferrors,#cerrors{color:#000}
#myimg,#mycover{opacity:0;margin-top:-44px;height:40px;width:100%;cursor:pointer;}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;color:#fff;background:url('../images/change_img.png');background-size:100% 100%;}
#changeimgForm{margin-top:-59px;visibility:hidden}
.profile-info:hover #changeimgForm{visibility:visible}
.about_content{display:none}
#prof{width:100%;text-align:center;border:none;outline:none;}
#profBtn{display:none;outline:none;}